.body{
    background-color: aliceblue;
    height: fit-content;
    display: flex;
    flex-direction: row;

}

.section1{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
