.body{
    background-color: aliceblue;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-image: url('https://cdn.statically.io/img/codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg?f=webp&w=1440')

}

.section1{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
